@import "../../styles/variables";

$inputPaddingTopBottom: 15px;
$inputPaddingLeftRight: 15px;
$levitatedLabelFontSize: $fontsize-medium;
$messageFontSize: $fontsize-small;
$messageTopMargin: 3px;
$messageHeight: calc($messageFontSize + $messageTopMargin);
$smallHeight: 40px;
$mediumHeight: 45px;
$largeHeight: 55px;
$smallWidth: 150px;
$mediumWidth: 200px;
$largeWidth: 300px;

.wrapper {
    $marginTop: calc($levitatedLabelFontSize / 2);
    $marginBottom: $messageHeight;

    position: relative;
    padding: $inputPaddingTopBottom 0;
    padding-left: $inputPaddingLeftRight;
    background-color: $color-backgroundSecondary;
    border-radius: 5px;

    &:hover {
        background-color: $color-backgroundSecondaryDark;
    }

    &:focus {
        background-color: $color-backgroundSecondaryDark;
        outline: none;
    }

    &.labelHeightBuffer {
        margin-top: $marginTop; // which reserves space for the transformed levitated label
    }

    &.messageHeightBuffer {
        margin-bottom: $marginBottom;
    }

    &::before {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: calc(100% - $inputPaddingLeftRight);
        height: calc($levitatedLabelFontSize / 2);
        background-color: $color-backgroundSecondary;
        border-radius: 5px 5px 0 0;
        content: "";
    }

    &:hover,
    &:focus-within,
    &:focus {
        background-color: $color-backgroundSecondaryDark;

        &::before {
            background-color: $color-backgroundSecondaryDark;
        }
    }

    .tagsWrapper {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;

        .tagsContainer {
            display: flex;
            height: 100%;
            flex-flow: row wrap;
            align-items: center;
            padding-right: $inputPaddingLeftRight + 20px;
            padding-bottom: 15px;
            gap: 10px;

            .tagNode {
                position: relative;
                padding: 4px 8px;
                background-color: $color-backgroundSecondary;
                border-radius: 5px;
                box-shadow: 0 0 3px 0 $color-foregroundTertiary;
                cursor: pointer;
                font-size: $fontsize-medium;
                user-select: none;

                .tagDeleteIcon {
                    position: absolute;
                    z-index: 1;
                    top: -5px;
                    right: -5px;
                    display: grid;
                    width: 15px;
                    height: 15px;
                    background-color: $color-backgroundSecondary;
                    border-radius: 50%;
                    box-shadow: 0 0 3px 0 $color-foregroundTertiary;
                    color: $color-foregroundSecondary;
                    content: "";
                    cursor: pointer;
                    font-size: 12px;
                    opacity: 0;
                    place-items: center;
                    pointer-events: none;
                    user-select: none;
                    visibility: hidden;

                    @include click-effect;

                    &:hover {
                        background-color: $color-backgroundTertiary;
                    }
                }

                &:hover {
                    background-color: $color-backgroundTertiary;

                    .tagDeleteIcon {
                        opacity: 1;
                        pointer-events: all;
                        visibility: visible;
                    }
                }
            }
        }
    }

    .input {
        position: relative;
        width: 100%;
        height: 100%;
        padding-right: $inputPaddingLeftRight + 20px;

        // 20px for icon width - make it dynamic later if specifically needed
        border: none;
        background-color: transparent;

        &.textarea {
            resize: none;
        }

        &:hover {
            background-color: transparent;
        }

        &:focus {
            background-color: transparent;
            outline: none;
        }
    }

    .label {
        $labelTopPosition: calc($inputPaddingTopBottom);

        position: absolute;
        z-index: 2;
        top: $labelTopPosition;
        left: $inputPaddingLeftRight;
        width: auto;
        color: $color-foregroundSecondary;
        font-weight: $fontweight-semibold;
        pointer-events: none;
        transform-origin: top left;
        transition: top 0.1s ease-out;
        white-space: nowrap;

        &.levitateLabel {
            top: 0 !important;
            font-size: $levitatedLabelFontSize;
            transform: translateY(-50%);
        }
    }

    &.small {
        width: $smallWidth;
        height: $smallHeight;
        font-size: $fontsize-medium;

        &.textareaSize {
            height: calc($smallHeight * 2);
        }

        .label {
            top: 13px;

            &.levitateLabel {
                font-size: $fontsize-caption;
            }
        }

        .input {
            font-size: inherit;
        }

        &.tags {
            height: auto !important;
            min-height: $smallHeight !important;
        }
    }

    &.medium {
        width: $mediumWidth;
        height: $mediumHeight;
        font-size: $fontsize-medium;

        &.textareaSize {
            height: calc($mediumHeight * 2);
        }

        .label {
            &.levitateLabel {
                font-size: $fontsize-caption;
            }
        }

        .input {
            font-size: inherit;
        }

        &.tags {
            height: auto !important;
            min-height: $mediumHeight !important;
        }
    }

    &.large {
        width: $largeWidth;
        height: $largeHeight;
        font-size: $fontsize-bodyMain;

        &.textareaSize {
            height: calc($largeHeight * 2);
        }

        .label {
            top: 20px;
        }

        .input {
            font-size: inherit;
        }

        &.tags {
            height: auto !important;
            min-height: $largeHeight !important;
        }
    }

    .icon {
        position: absolute;
        top: 0;
        right: calc($inputPaddingLeftRight - 8px);
        color: $color-foregroundTertiary;
        font-size: $fontsize-bodyMain;
        transform-origin: top left;
    }

    &.small .icon {
        top: 6px !important;
    }

    &.medium .icon {
        top: 8px !important;
    }

    &.large .icon {
        top: 10px !important;
    }

    .message {
        position: absolute;
        top: calc(100% + $messageTopMargin);
        left: $inputPaddingLeftRight;
        font-size: $fontsize-small;
        user-select: none;
    }

    .disabled {
        background-color: $color-backgroundTertiary;
        color: $color-foregroundTertiary;
        cursor: not-allowed;
        pointer-events: none;
    }
}
