@import "../../styles/variables";

.wrapper {
    position: relative;
}

.small {
    width: 150px;
    height: 30px;
}

.medium {
    width: 200px;
    height: 35px;
}

.large {
    width: 300px;
    height: 45px;
}

.input {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 0 solid $color-foregroundTertiary;
    background: $color-backgroundSecondary;
    border-radius: 4px;

    &:hover {
        background: var(--color-backgroundSecondaryDark);
    }
}

.placeholder {
    position: absolute;
    left: 0;
    width: 0;
    padding: 0 2px;
    margin-top: -7px;
    margin-left: 5px;
    background-image: linear-gradient(to bottom, $color-backgroundPrimary 50%, $color-backgroundSecondaryDark 50%);
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    visibility: hidden;
}

.input:focus {
    background: var(--color-backgroundSecondaryDark);
    outline: none;
}

input:focus::placeholder {
    opacity: 0;
}

input:focus + .placeholder {
    width: unset;
    opacity: 1;
    visibility: visible;
}

input:not(:placeholder-shown) + .placeholder {
    width: unset;
    opacity: 1;
    visibility: visible;
}

.icon {
    position: absolute;
    top: 50%;
    right: 3px;
    color: var(--color-foregroundTertiary);
    transform: translateY(-50%);
}

.error {
    margin-top: 5px;
    color: $color-danger;
    font-size: 12px;
}

.disabled {
    border: 1px solid $color-foregroundTertiary;
    background: $color-backgroundTertiary;
    color: $color-foregroundTertiary;
    cursor: not-allowed;
    pointer-events: none;
}
