@import "../../styles/variables";

$inputPaddingTopBottom: 15px;
$inputPaddingLeftRight: 15px;
$levitatedLabelFontSize: $fontsize-medium;
$messageFontSize: $fontsize-small;
$messageTopMargin: 3px;
$messageHeight: calc($messageFontSize + $messageTopMargin);
$smallHeight: 40px;
$mediumHeight: 45px;
$largeHeight: 50px;
$smallWidth: 150px;
$mediumWidth: 200px;
$largeWidth: 300px;

.wrapper {
    $marginTop: calc($levitatedLabelFontSize / 2);
    $marginBottom: $messageHeight;

    position: relative;
    font-size: $fontsize-medium;

    &.small {
        width: $smallWidth;
        height: $smallHeight;

        &.textareaSize {
            height: calc($smallHeight * 2);
        }
    }

    &.medium {
        width: $mediumWidth;
        height: $mediumHeight;

        &.textareaSize {
            height: calc($mediumHeight * 2);
        }
    }

    &.large {
        width: $largeWidth;
        height: $largeHeight;

        &.textareaSize {
            height: calc($largeHeight * 2);
        }
    }

    &.labelHeightBuffer {
        margin-top: $marginTop; // which reserves space for the transformed levitated label
    }

    &.messageHeightBuffer {
        margin-bottom: $marginBottom;
    }

    &::before {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: calc(100% - $inputPaddingLeftRight);
        height: calc($levitatedLabelFontSize / 2);
        background: $color-backgroundSecondary;
        border-radius: 5px 5px 0 0;
        content: "";
    }

    &:hover,
    &:focus-within,
    &:focus {
        &::before {
            background: $color-backgroundSecondaryDark;
        }
    }

    .input {
        position: relative;
        width: 100%;
        height: 100%;
        padding: $inputPaddingTopBottom $inputPaddingLeftRight;

        // 20px for icon width - make it dynamic later if specifically needed
        padding-right: $inputPaddingLeftRight + 20px;
        border: 0 solid $color-foregroundTertiary;
        background: $color-backgroundSecondary;
        border-radius: 5px;
        font-size: $fontsize-medium;

        &.textarea {
            resize: none;
        }

        &:hover {
            background: $color-backgroundSecondaryDark;
        }

        &:focus {
            background: $color-backgroundSecondaryDark;
            outline: none;
        }
    }

    .label {
        $labelTopPosition: calc($inputPaddingTopBottom);

        position: absolute;
        z-index: 2;
        top: $labelTopPosition;
        left: $inputPaddingLeftRight;
        width: auto;
        color: $color-foregroundSecondary;
        font-weight: $fontweight-semibold;
        pointer-events: none;
        transform-origin: top left;
        transition: top 0.1s ease-out;
        white-space: nowrap;

        &.levitateLabel {
            top: 0;
            font-size: $levitatedLabelFontSize;
            transform: translateY(-50%);
        }
    }

    .icon {
        $iconTopPosition: calc($inputPaddingTopBottom);

        position: absolute;
        top: $iconTopPosition;
        right: calc($inputPaddingLeftRight - 10px);
        color: $color-foregroundTertiary;
        font-size: $fontsize-bodyMain;
        transform: translateY(-100%);
        transform-origin: top left;
    }

    .message {
        position: absolute;
        top: calc(100% + $messageTopMargin);
        left: $inputPaddingLeftRight;
        font-size: $fontsize-small;
        user-select: none;
    }

    .disabled {
        background: $color-backgroundTertiary;
        color: $color-foregroundTertiary;
        cursor: not-allowed;
        pointer-events: none;
    }
}
