rollup.config.js
tsconfig.json
.prettierrc.json
.eslintignore
.eslintrc.json
.gitignore
.storybook

node_modules
.husky
.vscode

src
src/**/**/*.module.scss

# only allow .scss files, so the parent project will consume them throught dist
!src/**/**/*.scss
