@import "../../styles/colors";
@import "../../styles/fontSizes";
@import "../../styles/fontWeights";
@import "../../styles/mixins";

.buttonWrapper {
    display: flex;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: $fontweight-medium;
}

.disabled {
    @include disabled;
}

.large {
    padding: 10px 40px;
    font-size: $fontsize-bodyIntro;
}

.medium {
    padding: 8px 30px;
    font-size: $fontsize-bodyMain;
}

.small {
    padding: 6px 20px;
    font-size: $fontsize-caption;
}

// primary
.containedOutlined {
    box-shadow: 0 0 4px $color-foregroundSecondary;
}

.containedPrimary {
    background-color: $color-primary;
    color: $color-backgroundPrimary;

    &:hover {
        box-shadow: 0 0 7px $color-foregroundSecondary;
        transition: all 0.2s ease-in-out;
    }
}

.outlinedPrimary {
    border: 1px solid $color-primary;
    background-color: transparent;
    color: $color-primary;

    &:hover {
        background-color: $color-primaryLight;
        transition: all 0.2s ease-in-out;
    }
}

.textPrimary {
    border: none;
    background-color: transparent;
    color: $color-primary;

    &:hover {
        background-color: $color-primaryLight;
        transition: all 0.2s ease-in-out;
    }
}

// secondary
.containedSecondary {
    background-color: $color-backgroundPrimary;
    color: $color-primary;

    &:hover {
        box-shadow: 0 0 7px $color-foregroundSecondary;
        transition: all 0.2s ease-in-out;
    }
}

.outlinedSecondary {
    border: 1px solid $color-secondary;
    background-color: transparent;
    color: $color-secondary;

    &:hover {
        background-color: $color-secondaryLight;
        transition: all 0.2s ease-in-out;
    }
}

.textSecondary {
    border: none;
    background-color: transparent;
    color: $color-foregroundPrimary;

    &:hover {
        background-color: $color-backgroundTertiary;
        transition: all 0.2s ease-in-out;
    }
}

// success
.containedSuccess {
    background-color: $color-success;
    color: $color-backgroundPrimary;

    &:hover {
        box-shadow: 0 0 7px $color-foregroundSecondary;
        transition: all 0.2s ease-in-out;
    }
}

.outlinedSuccess {
    border: 1px solid $color-success;
    background-color: transparent;
    color: $color-success;

    &:hover {
        background-color: $color-successLight;
        color: $color-backgroundPrimary;
        transition: all 0.2s ease-in-out;
    }
}

.textSuccess {
    background-color: transparent;
    color: $color-success;

    &:hover {
        background-color: $color-successLight;
        color: $color-backgroundPrimary;
        transition: all 0.2s ease-in-out;
    }
}

// danger
.containedDanger {
    background-color: $color-danger;
    color: $color-backgroundPrimary;

    &:hover {
        box-shadow: 0 0 7px $color-foregroundSecondary;
        transition: all 0.2s ease-in-out;
    }
}

.outlinedDanger {
    border: 1px solid $color-danger;
    background-color: transparent;
    color: $color-danger;

    &:hover {
        background-color: $color-dangerLight;
        color: $color-backgroundPrimary;
        transition: all 0.2s ease-in-out;
    }
}

.textDanger {
    background-color: transparent;
    color: $color-danger;

    &:hover {
        background-color: $color-dangerLight;
        color: $color-backgroundPrimary;
        transition: all 0.2s ease-in-out;
    }
}

// info
.containedInfo {
    background-color: $color-info;
    color: $color-backgroundPrimary;

    &:hover {
        box-shadow: 0 0 7px $color-foregroundSecondary;
        transition: all 0.2s ease-in-out;
    }
}

.outlinedInfo {
    border: 1px solid $color-info;
    background-color: transparent;
    color: $color-info;

    &:hover {
        background-color: $color-infoLight;
        color: $color-backgroundPrimary;
        transition: all 0.2s ease-in-out;
    }
}

.textInfo {
    background-color: transparent;
    color: $color-info;

    &:hover {
        background-color: $color-infoLight;
        color: $color-backgroundPrimary;
        transition: all 0.2s ease-in-out;
    }
}

// warning
.containedWarning {
    background-color: $color-warning;
    color: $color-backgroundPrimary;

    &:hover {
        box-shadow: 0 0 7px $color-foregroundSecondary;
        transition: all 0.2s ease-in-out;
    }
}

.outlinedWarning {
    border: 1px solid $color-warning;
    background-color: transparent;
    color: $color-warning;

    &:hover {
        background-color: $color-warningLight;
        color: $color-backgroundPrimary;
        transition: all 0.2s ease-in-out;
    }
}

.textWarning {
    background-color: transparent;
    color: $color-warning;

    &:hover {
        background-color: $color-warningLight;
        color: $color-backgroundPrimary;
        transition: all 0.2s ease-in-out;
    }
}
