@import "../../styles/variables";

.profileUploadWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .profileInput {
        input {
            display: none;
        }
    }
}
