@import "../../styles/variables";

@keyframes slide-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slide-left-reverse {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(110%);
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slide-right-reverse {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-110%);
    }
}

$toastOffset: 20px;

.wrapper {
    position: absolute;
    display: block;

    .toastContainer {
        display: flex;
        justify-content: flex-end;
        padding: 10px;

        &.animateRight {
            animation: slide-left 300ms forwards;
        }

        &.animateLeft {
            animation: slide-right 300ms forwards;
        }

        &.animateRightClose {
            animation: slide-left-reverse 300ms forwards;
        }

        &.animateLeftClose {
            animation: slide-right-reverse 300ms forwards;
        }

        .toastCardWrapper {
            &.success {
                background-color: $color-success;
                color: $color-foregroundPrimaryLight;
            }

            &.error {
                background-color: $color-danger;
                color: $color-foregroundPrimaryLight;
            }

            &.warning {
                background-color: $color-warning;
                color: $color-foregroundPrimaryLight;
            }

            &.info {
                background-color: $color-info;
                color: $color-foregroundPrimaryLight;
            }
        }

        .toastContentWrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 6px;
            gap: 10px;

            .toastIcon {
                font-size: 25px;
                pointer-events: none;
            }

            .toastAction {
                &:hover {
                    color: $color-foregroundPrimary;
                    cursor: pointer;
                }
            }
        }
    }

    &.topLeft {
        top: $toastOffset;
        left: $toastOffset;

        .toastContainer {
            align-items: flex-start;
        }
    }

    &.topRight {
        top: $toastOffset;
        right: $toastOffset;

        .toastContainer {
            align-items: flex-end;
        }
    }

    &.bottomLeft {
        bottom: $toastOffset;
        left: $toastOffset;

        .toastContainer {
            align-items: flex-start;
        }
    }

    &.bottomRight {
        right: $toastOffset;
        bottom: $toastOffset;

        .toastContainer {
            align-items: flex-end;
        }
    }
}
