@import "../../styles/variables";

$action-node-secondary-color: rgb(255 255 255 / 80%);

// light background color for the action group
$action-node-secondary-background-color: rgba(43 43 43 / 40%);

.wrapper {
    display: flex;
    width: min-content;
    flex-direction: row;
    align-items: center;

    &.smallGap {
        gap: 5px;
    }

    &.mediumGap {
        gap: 10px;
    }

    &.largeGap {
        gap: 15px;
    }

    .actionNode {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        border-radius: 5px;
        color: $color-foregroundSecondary;
        cursor: pointer;
        font-weight: $fontweight-medium;
        gap: 5px;
        user-select: none;

        &.actionNodePrimary {
            color: $color-foregroundSecondary;

            &:hover {
                background-color: $color-backgroundTertiary;
            }
        }

        &.actionNodeSecondary {
            color: $action-node-secondary-color;

            &:hover {
                background-color: $action-node-secondary-background-color;
            }
        }

        .actionIcon {
            font-size: calc($fontsize-small * 1.2);

            &.loveFilledColor {
                color: $color-danger;
            }
        }

        .actionLabel {
            font-size: $fontsize-small;
        }

        // sizes
        &.small {
            .actionIcon {
                font-size: calc($fontsize-small * 1.2);
            }

            .actionLabel {
                font-size: $fontsize-small;
            }
        }

        &.medium {
            .actionIcon {
                font-size: calc($fontsize-medium * 1.2);
            }

            .actionLabel {
                font-size: $fontsize-medium;
            }
        }

        &.large {
            padding: 5px 8px;

            .actionIcon {
                font-size: calc($fontsize-bodyIntro * 1.2);
            }

            .actionLabel {
                font-size: $fontsize-bodyIntro;
            }
        }
    }
}
