@import "../../styles/fontSizes";
@import "../../styles/colors";
@import "../../styles/fontWeights";
@import "../../styles/mixins";
@import "../../styles/mediaQueries";

// colors
$player-icon-color: #fff;
$player-progress-track-Color: #fff;
$player-progress-track-opacity: 0.2;
$player-progress-track-buffer-opacity: 0.4;
$player-progress-track-hover-opacity: 0.3;
$player-progress-bar-color: $color-primary;
$player-progress-head-color: #fff;
$player-duration-color: #ddd;
$player-track-size: 4px;
$player-progress-head-size: 10px;
$progress-bar-scafflod-padding: 10px;
$player-duration-font-size: 12px;
$player-controls-icon-size: 22px;
$player-controls-play-icon-size: 26px;

// volume controls
$player-volume-slider-width: 80px;
$player-volume-track-size: 4px;
$player-volume-track-color: #fff;
$player-volume-track-opacity: 0.2;
$player-volume-progress-head-size: 10px;
$player-volume-progress-bar-color: #fff;
$player-volume-progress-bar-opacity: 0.8;
$player-volume-progress-head-color: #fff;
$player-volume-control-padding-size: 8px;
$player-volume-icon-slider-gap: 8px;

.wrapper {
    display: grid;
    width: 100%;
    height: auto;
    padding: 10px 12px;
    gap: 8px;
    grid-template-rows: auto auto;
    user-select: none;

    .progressWrapper {
        position: relative;
        width: 100%;
        height: $player-track-size;
        cursor: pointer;

        .progress {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            border-radius: 3px;
        }

        .progressPadding {
            z-index: 0;
            top: calc(($progress-bar-scafflod-padding - $player-track-size / 2) * -1);
            width: 100%;
            padding: $progress-bar-scafflod-padding 0;
        }

        .progressTrack {
            z-index: 1;
            width: 100%;
            background-color: $player-progress-track-Color;
            opacity: $player-progress-track-opacity;
        }

        .progressBuffer {
            z-index: 2;
            width: 0%;
            background-color: $player-progress-track-Color;
            opacity: $player-progress-track-buffer-opacity;
        }

        .progressHover {
            z-index: 3;
            width: 0%;
            background-color: $player-progress-track-Color;
            opacity: $player-progress-track-hover-opacity;
        }

        .progressHoverContent {
            position: absolute;
            z-index: 4;
            bottom: 15px;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $player-duration-color;
            font-size: $player-duration-font-size;
            gap: 5px;
            transition: margin-left 50ms ease-in;
            user-select: none;
        }

        .progressBar {
            z-index: 5;
            width: 0%;
            background-color: $player-progress-bar-color;
        }

        .progressHead {
            position: absolute;
            z-index: 6;
            top: calc(50% - $player-progress-head-size / 2);
            left: 0%;
            width: $player-progress-head-size;
            height: $player-progress-head-size;
            margin-left: calc(($player-progress-head-size / 2) * -1);
            background-color: $player-progress-head-color;
            border-radius: 50%;
            transform: scale(0);
            transition: transform 60ms ease-in-out;
        }

        &:hover {
            $scaleBoostSize: 2px;
            $currentPlayerTrackSize: $player-track-size + $scaleBoostSize;

            height: $currentPlayerTrackSize;

            .progressHead {
                transform: scale(1);
            }

            .progressPadding {
                $currentScaffoldPadding: $progress-bar-scafflod-padding + $scaleBoostSize;

                top: calc(($currentScaffoldPadding - ($currentPlayerTrackSize / 2)) * -1);
                padding: $currentScaffoldPadding 0;
            }
        }
    }

    .controlsWrapper {
        display: grid;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);

        .controlsStartSectionWrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            .playerTimerWrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                color: $player-duration-color;
                font-size: $player-duration-font-size;
                gap: 5px;
                user-select: none;
            }
        }

        .actionIcon {
            color: $player-icon-color;
            cursor: pointer;
            font-size: $player-controls-icon-size;
            opacity: 0.9; // gives bit dim effect
            outline: none;
            vertical-align: baseline;

            &.iconDisabled {
                opacity: 0.5;
                pointer-events: none;
                user-select: none;
            }

            &:hover {
                transform: scale(1.2);
            }

            &.playPauseIcon {
                font-size: $player-controls-play-icon-size;
            }
        }

        .controlsMiddleSectionWrapper {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 15px;
        }

        .controlsEndSectionWrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            gap: 15px;
        }

        .volumeControlsWrapper {
            position: relative;

            .actionIcon {
                position: relative;
                z-index: 1;
            }

            .volumeSliderWrapper {
                position: absolute;
                z-index: 2;

                // since we scale the volume icon size on hover,
                // no need to divide the $player-volume-track-size by 2
                top: calc(50% - $player-volume-track-size);
                left: $player-controls-icon-size + $player-volume-icon-slider-gap;
                width: 0;
                height: $player-volume-track-size;
                cursor: pointer;
                transition:
                    visibility 0.2s ease-in-out,
                    width 0.3s ease-in-out;
                visibility: hidden;

                .volumeSliderTrack {
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $player-volume-track-color;
                    border-radius: 3px;
                    opacity: $player-volume-track-opacity;
                }

                .volumeSliderProgress {
                    position: absolute;
                    z-index: 2;
                    top: 0;
                    left: 0;
                    width: 0%;
                    height: 100%;
                    background-color: $player-volume-progress-bar-color;
                    border-radius: 3px;
                    opacity: $player-volume-progress-bar-opacity;
                }

                .volumeSliderHead {
                    position: absolute;
                    z-index: 3;
                    top: calc(50% - $player-volume-progress-head-size / 2);
                    left: 50%;
                    width: $player-volume-progress-head-size;
                    height: $player-volume-progress-head-size;
                    margin-left: calc(($player-volume-progress-head-size / 2) * -1);
                    background-color: $player-volume-progress-head-color;
                    border-radius: 50%;

                    &:hover {
                        transform: scale(1.1);
                    }
                }

                .volumeSliderPadding {
                    position: absolute;
                    z-index: 0;
                    top: calc(($player-volume-track-size + ($player-volume-control-padding-size / 2)) * -1);
                    left: calc(($player-volume-control-padding-size / 2) * -1);
                    width: 100%;
                    height: 100%;
                    padding: $player-volume-track-size + $player-volume-control-padding-size;
                }
            }

            .volumneControlsPadding {
                position: absolute;
                z-index: 0;
                top: calc($player-volume-control-padding-size / 2 * -1);
                left: calc($player-volume-control-padding-size / 2 * -1);
                width: $player-controls-icon-size + $player-volume-control-padding-size;
                height: $player-controls-icon-size + $player-volume-control-padding-size;
                cursor: pointer;
            }

            &:hover {
                .volumeSliderWrapper {
                    width: $player-volume-slider-width;
                    visibility: visible;
                }

                .volumeSliderPadding {
                    width: $player-volume-slider-width + $player-volume-control-padding-size;
                }

                .volumneControlsPadding {
                    width:
                        $player-controls-icon-size +
                        $player-volume-icon-slider-gap +
                        $player-volume-slider-width +
                        $player-volume-control-padding-size;
                }

                .actionIcon {
                    transform: scale(1.2);
                }
            }

            .volumneControlsPadding:hover + .volumeSliderWrapper {
                width: $player-volume-slider-width;
                visibility: visible;
            }
        }
    }
}
