/* font-sizes */
$font-size-h1: var(--font-size-h1);
$font-size-h2: var(--font-size-h2);
$font-size-h3: var(--font-size-h3);
$font-size-h4: var(--font-size-h4);
$font-size-h5: var(--font-size-h5);
$font-size-h6: var(--font-size-h6);
$font-size-bodyIntro: var(--font-size-bodyIntro);
$font-size-bodyMain: var(--font-size-bodyMain);
$font-size-medium: var(--font-size-medium);
$font-size-caption: var(--font-size-caption);
$font-size-small: var(--font-size-small);
