/* we will be getting values from css varianbles , this would help in themeing  */

// core
$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);

// foreground
$color-foregroundPrimary: var(--color-foregroundPrimary);
$color-foregroundSecondary: var(--color-foregroundSecondary);
$color-foregroundTertiary: var(--color-foregroundTertiary);
$color-foregroundPrimaryLight: var(--color-foregroundPrimaryLight);

// background
$color-backgroundPrimary: var(--color-backgroundPrimary);
$color-backgroundSecondary: var(--color-backgroundSecondary);
$color-backgroundTertiary: var(--color-backgroundTertiary);

// essentials
$color-success: var(--color-success);
$color-info: var(--color-info);
$color-warning: var(--color-warning);
$color-danger: var(--color-danger);
$color-link: var(--color-link);

// brand colors
$color-contentVideo: var(--color-contentVideo);
$color-contentBlog: var(--color-contentBlog);
$color-contentPodcast: var(--color-contentPodcast);
$color-contentMusic: var(--color-contentMusic);
$color-contentPhoto: var(--color-contentPhoto);
