/* we will be getting values from css varianbles , this would help in themeing  */

// core
$primary-color: var(--color-primary);
$primary-color-light: var(--color-primary-light);
$secondary-color: var(--color-secondary);
$secondary-color-light: var(--color-secondary-light);

// foreground
$foregroundPrimary-color: var(--color-foregroundPrimary);
$foregroundSecondary-color: var(--color-foregroundSecondary);
$foregroundTertiary-color: var(--color-foregroundTertiary);

// background
$backgroundPrimary-color: var(--color-backgroundPrimary);
$backgroundSecondary-color: var(--color-backgroundSecondary);
$backgroundTertiary-color: var(--color-backgroundTertiary);

// essentials
$success-color: var(--color-success);
$success-color-light: var(--color-success-light);
$info-color: var(--color-info);
$info-color-light: var(--color-info-light);
$warning-color: var(--color-warning);
$warning-color-light: var(--color-warning-light);
$danger-color: var(--color-danger);
$danger-color-light: var(--color-danger-light);
$link-color: var(--color-link);
$link-color-light: var(--color-link-light);

// brand colors
$brandColor1-color: var(--color-brandColor1);
$brandColor2-color: var(--color-brandColor2);
$brandColor3-color: var(--color-brandColor3);
$brandColor4-color: var(--color-brandColor4);
$brandColor5-color: var(--color-brandColor5);
$brandColor6-color: var(--color-brandColor6);
