/* we will be getting values from css varianbles , this would help in themeing  */

// core
$primary-color: var(--color-primary);
$secondary-color: var(--color-secondary);

// foreground
$foregroundPrimary-color: var(--color-foregroundPrimary);
$foregroundSecondary-color: var(--color-foregroundSecondary);
$foregroundTertiary-color: var(--color-foregroundTertiary);
$foregroundPrimaryLight-color: var(--color-foregroundPrimaryLight);

// background
$backgroundPrimary-color: var(--color-backgroundPrimary);
$backgroundSecondary-color: var(--color-backgroundSecondary);
$backgroundTertiary-color: var(--color-backgroundTertiary);

// essentials
$success-color: var(--color-success);
$info-color: var(--color-info);
$warning-color: var(--color-warning);
$danger-color: var(--color-danger);
$link-color: var(--color-link);

// brand colors
$contentVideo-color: var(--color-contentVideo);
$contentBlog-color: var(--color-contentBlog);
$contentPodcast-color: var(--color-contentPodcast);
$contentMusic-color: var(--color-contentMusic);
$contentPhoto-color: var(--color-contentPhoto);
