@import "./fontWeights";
@import "./fontSizes";
@import "./colors";
@import "./mixins";

:root {
    // variables will be populated by theme provider based on the current theme

    /* colors */
    // core
    --color-primary: #0f307f;
    --color-primaryDark: #0f307f1a;
    --color-secondary: #9dadd0;
    --color-secondaryDark: #9dadd07c;

    // foreground
    --color-foregroundPrimary: #212121;
    --color-foregroundSecondary: #666;
    --color-foregroundTertiary: #9e9e9e;
    --color-foregroundPrimaryLight: #fff;

    // background
    --color-backgroundPrimary: #fff;
    --color-backgroundSecondary: #f5f5f5;
    --color-backgroundSecondaryDark: #eee;
    --color-backgroundTertiary: #e0e0e0;
    --color-backgroundPrimaryDark: #212121;

    // essentials
    --color-success: #7cc887;
    --color-successLight: #7cc8877e;
    --color-info: #41c2f5;
    --color-infoLight: #41c2f580;
    --color-warning: #ffb857;
    --color-warningLight: #ffb95780;
    --color-danger: #e97375;
    --color-dangerLight: #e973757c;
    --color-link: #3b6fee;
    --color-linkLight: #3b6eee7a;

    // brand colors
    --color-contentVideo: #0086ce;
    --color-contentBlog: #ffb857;
    --color-contentPodcast: #8e7cc3;
    --color-contentMusic: #5ebc6e;
    --color-contentPhoto: #fa453c;

    // other colors
    --color-contentBackground: #000;

    // font sizes
    --fontsize-h1: 3rem;
    --fontsize-h2: 2.5rem;
    --fontsize-h3: 2rem;
    --fontsize-h4: 1.75rem;
    --fontsize-h5: 1.5rem;
    --fontsize-h6: 1.25rem;
    --fontsize-bodyIntro: 1.125rem;
    --fontsize-bodyMain: 1rem;
    --fontsize-medium: 0.875rem;
    --fontsize-caption: 0.75rem;
    --fontsize-small: 0.625rem;

    // font weights
    --fontweight-light: 300;
    --fontweight-normal: 400;
    --fontweight-medium: 500;
    --fontweight-bold: 700;
    --fontweight-semibold: 600;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Inter, Helvetica, sans-serif;
    scroll-behavior: smooth;
    vertical-align: baseline;

    @include custom-scrollbar;
}

body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    // global color for all elements in the app, if not specified explicitly through available variables
    color: $color-foregroundPrimary;

    // all component will have p tag's font-size as base font-size,
    font-size: $fontsize-bodyMain;
}

h1 {
    font-size: $fontsize-h1;
    font-weight: $fontweight-bold;
}

h2 {
    font-size: $fontsize-h2;
    font-weight: $fontweight-bold;
}

h3 {
    font-size: $fontsize-h3;
    font-weight: $fontweight-bold;
}

h4 {
    font-size: $fontsize-h4;
    font-weight: $fontweight-semibold;
}

h5 {
    font-size: $fontsize-h5;
    font-weight: $fontweight-semibold;
}

h6 {
    font-size: $fontsize-h6;
    font-weight: $fontweight-semibold;
}

p {
    font-size: $fontsize-bodyMain;
    font-weight: $fontweight-normal;
}
