/* fontsizes */
$h1-fontsize: var(--fontsize-h1);
$h2-fontsize: var(--fontsize-h2);
$h3-fontsize: var(--fontsize-h3);
$h4-fontsize: var(--fontsize-h4);
$h5-fontsize: var(--fontsize-h5);
$h6-fontsize: var(--fontsize-h6);
$bodyIntro-fontsize: var(--fontsize-bodyIntro);
$bodyMain-fontsize: var(--fontsize-bodyMain);
$medium-fontsize: var(--fontsize-medium);
$caption-fontsize: var(--fontsize-caption);
$small-fontsize: var(--fontsize-small);
