$light-fontweight: var(--fontweight-light);
$normal-fontweight: var(--fontweight-normal);
$medium-fontweight: var(--fontweight-medium);
$bold-fontweight: var(--fontweight-bold);
$semibold-fontweight: var(--fontweight-semibold);
