/* fontSizes */
$fontsize-h1: var(--fontsize-h1);
$fontsize-h2: var(--fontsize-h2);
$fontsize-h3: var(--fontsize-h3);
$fontsize-h4: var(--fontsize-h4);
$fontsize-h5: var(--fontsize-h5);
$fontsize-h6: var(--fontsize-h6);
$fontsize-bodyIntro: var(--fontsize-bodyIntro);
$fontsize-bodyMain: var(--fontsize-bodyMain);
$fontsize-medium: var(--fontsize-medium);
$fontsize-caption: var(--fontsize-caption);
$fontsize-small: var(--fontsize-small);
