$fontweight-light: var(--fontweight-light);
$fontweight-normal: var(--fontweight-normal);
$fontweight-medium: var(--fontweight-medium);
$fontweight-bold: var(--fontweight-bold);
$fontweight-semibold: var(--fontweight-semibold);
