@import "../../styles/fontSizes";
@import "../../styles/colors";
@import "../../styles/fontWeights";
@import "../../styles/mixins";
@import "../../styles/mediaQueries";

// z-index
$z-index-video: 1;
$z-index-video-accessibility-layer: 2;
$z-index-video-background-gradient: 2;
$z-index-video-controls: 3;
$z-index-video-fullscreen-title-with-action: 3;
$action-color: rgb(255 255 255 / 80%);

.wrapper {
    position: relative;
    display: block;
    display: grid;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: black;
    place-items: center;

    &.hideCursor {
        cursor: none;
    }

    .fullScreenVideoTitleWithActionWrapper {
        position: absolute;
        z-index: $z-index-video-fullscreen-title-with-action;
        top: 0;
        left: 0;
        display: grid;
        width: 100%;
        height: auto;
        align-items: center;
        padding: 25px 20px;
        gap: 10px;
        grid-template-columns: 1fr auto;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.1s ease-in-out;

        &.showVideoTitleWithAction {
            transform: scaleY(1);
        }

        .fullScreenVideoTitle {
            overflow: hidden;
            width: 100%;
            color: $action-color;
            font-size: $fontsize-h5;
            text-overflow: ellipsis;
            user-select: none;
            white-space: nowrap;
        }
    }

    .video {
        position: absolute;
        z-index: $z-index-video;
        width: 100%;
        height: auto;
    }

    .videoControls {
        position: absolute;
        z-index: $z-index-video-controls;
        bottom: 0;
        left: 0;
        transform: scaleY(0);
        transform-origin: bottom;
        transition: transform 0.1s ease-in-out;

        &.showVideoControls { transform: scaleY(1) !important; }
    }

    .playerAccessibilityLayer {
        position: absolute;
        z-index: $z-index-video-accessibility-layer;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;

        .accessibilityIconWrapper {
            $accessibilityIconWrapperDimension: 80px;
            $accessibilityIconSize: 38px;

            --accesibility-icon-transition-time: 500ms;

            display: flex;
            width: $accessibilityIconWrapperDimension;
            height: $accessibilityIconWrapperDimension;
            align-items: center;
            justify-content: center;
            background-color: rgb(36 36 36 / 0%);
            border-radius: 50%;
            color: $action-color;
            transform: scale(0);
            transform-origin: center;

            // transition with css variable --accesibility-icon-transition-time in ms
            transition: transform var(--accesibility-icon-transition-time) ease;
            user-select: none;

            &.showAccessibilityIcon {
                background-color: rgb(36 36 36 / 60%);
                transform: scale(1);
            }

            .accessibilityIcon {
                font-size: $accessibilityIconSize;
            }

            .accessibilitySeekIconWrapper {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 2px;

                span {
                    font-size: 10px;
                }
            }

            &.accessibilityPositionLeft {
                margin-right: calc(100% - ($accessibilityIconWrapperDimension + 40px)); // 40px buffer padding
            }

            &.accessibilityPositionRight {
                margin-left: calc(100% - ($accessibilityIconWrapperDimension + 40px)); // 40px buffer padding
            }
        }

        .loaderWrapper {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;

            --custom-loader-size: 80px;

            .customLoader {
                width: var(--custom-loader-size);
                height: var(--custom-loader-size);

                &::before,
                &::after {
                    --custom-loader-border-size: 4px;

                    border-width: calc(var(--custom-loader-border-size) * 1);
                    margin-top: calc(var(--custom-loader-border-size) * -1);
                    margin-left: calc(var(--custom-loader-border-size) * -1);
                }
            }
        }
    }

    .underlayGradientContaier {
        --gradient-position: bottom;

        position: absolute;
        z-index: $z-index-video-background-gradient;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 30%;
        background-image:
            linear-gradient(
                to var(--gradient-position),
                rgb(0 0 0 / 0%),
                rgb(0 0 0 / 10%),
                rgb(0 0 0 / 15%),
                rgb(0 0 0 / 35%),
                rgb(0 0 0 / 70%)
            );
        transition: background-image 0.1s ease-in-out;
        visibility: hidden;

        &.showGradient {
            visibility: visible;
        }

        &.gradientTop {
            --gradient-position: top;

            top: 0;
        }

        &.gradientBottom {
            --gradient-position: bottom;

            bottom: 0;
        }
    }

    &:hover {
        .backgroundGradient {
            visibility: visible;
        }
    }
}
