@import "../../styles/variables";

.wrapper {
    color: $color-foregroundSecondary;

    &.small {
        font-size: $fontsize-small;
    }

    &.medium {
        font-size: $fontsize-medium;
    }
}
