@import "../../styles/fontSizes";
@import "../../styles/colors";

.iconWrapper {
    display: flex;
    width: max-content;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: $color-primary;
    cursor: pointer;

    &:hover {
        background-color: $color-backgroundTertiary;
        border-radius: 50%;
    }
}
