@import "../../styles/variables";

.iconWrapper {
    display: flex;
    width: max-content;
    align-items: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;

    &:hover {
        background-color: $color-backgroundTertiary;
        border-radius: 50%;
    }

    &:active {
        transform: scale(0.9);
    }
}
