@import "../../styles/fontSizes";
@import "../../styles/colors";

.linkWrapper {
    display: flex;
    box-sizing: border-box;
    padding: 4px 8px;
    border-radius: 4px;
    color: $color-link;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
